name: Build Frontend

on:
  workflow_dispatch:

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Determine version
        run: |
          YEAR=$(date +'%y')
          VERSION="${YEAR}.1.${{ github.run_number }}"
          echo "RELEASE_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Compute GHCR owner
        run: |
          SLUG=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          echo "GHCR_OWNER_SLUG=$SLUG" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Frontend
        uses: docker/build-push-action@v6
        with:
          context: src/Frontend
          platforms: linux/amd64
          push: true
          provenance: false
          sbom: false
          outputs: type=registry,oci-mediatypes=false
          tags: |
            ghcr.io/${{ env.GHCR_OWNER_SLUG }}/sample.frontend:${{ env.RELEASE_VERSION }}
            ghcr.io/${{ env.GHCR_OWNER_SLUG }}/sample.frontend:latest
